<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 24rem;">
                <img class="card-img-top" src="https://avatars1.githubusercontent.com/u/16518350?s=400&v=4" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Çağrı TÜRK </h5>
                  <p class="card-text">Software Developer</p>
                  <div>
                      <ul class="social-network social-circle">
                        <li><a href="https://github.com/cagritrk" class="icoGitHub" title="Github"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://linkedin.com/in/cagriturk" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-8">
            <app-home></app-home>
        </div>
      </div>
  </div>

  


<router-outlet></router-outlet>